In [1]:
import pandas as pd
import re

### Task 1
Actually, I don't know how to deal with the names like _НҮРДІБЕК БАЛЖАН_, because they can be both M and F

In [3]:
file_name = './data/State Grants 2020.xlsx' 
df = pd.concat(pd.read_excel(file_name, sheet_name=[0,1,2,3,4]), ignore_index=True)[:-1]

In [4]:
M = r'ұлы|улы|уғли|угли|вич|ов|ев[^\w]'
F = r'қызы|кызы|қизи|кизи|вна|вна|ова|ева[^\w]'

In [5]:
def identifyGender(FIO):
    FIO = FIO.lower()
    if (re.search(F, FIO)):
        return 'F'
    if (re.search(M, FIO)):
        return 'M'
    return ''

In [6]:
df['Gender'] = df.apply(lambda row: identifyGender(row.FIO), axis = 1)
file_path = './result/A_01.csv'
df.to_csv(file_path, columns=['FIO','Gender'], index=False)

In [7]:
bigender = df[df['Gender'] == '']
# bigender.to_csv('bigender.csv')
print(bigender)
# AS you can see, still 116 students have bigender names

              IKT                          FIO  Points  University     No  \
0     903300067.0           РАХМЕТУЛЛА АСАНӘЛІ   140.0         302    NaN
65    862390433.0                 СЕРІК РУСЛАН   127.0          27    NaN
82    716390901.0                НҰРКЕЛДІ ӨРЕН   125.0          27    NaN
93    836390285.0              ДІЛМҰРАТ ТАҢНАР   125.0          27    NaN
168   746300114.0             ТУРСЫНБЕК ЕРАСЫЛ   120.0          13    NaN
...           ...                          ...     ...         ...    ...
4048  712300015.0                Адал Сандуғаш    75.0         522    NaN
4096   93300155.0  СФРАЙДОПУЛО ВЛАДИСЛАВ ИЛЬИЧ    35.0          93   40.0
4115   35300190.0             БЕРИКБОЛ АЙМЫРЗА    32.0          35   59.0
4124  191300013.0                 ЕЛШАТ САМҒАР    31.0         191   68.0
4159   38300407.0            МАНАЙХАН БЕРІКБОЛ    27.0           2  103.0

     Gender
0
65
82
93
168
...     ...
4048
4096
4115
4124
4159

[116 rows x 6 columns]

### Task 2

In [2]:
import zipfile

In [5]:
filename = './data/bbc-fulltext.zip'
zip = zipfile.ZipFile(filename, 'r')
files = zip.namelist()

In [9]:
pattern = r'([A-Z]+\w*(?:\s*[A-Z]+\w*)+)'

In [11]:
res = []

In [12]:
for i in files:
    s = str(zip.read(i))
    names = re.findall(pattern,s)
    res += list(filter(len,names))

In [21]:
s = pd.Series(res)
s.drop_duplicates(keep='first',inplace=True)
filepath = './result/B_01.csv'
s.to_csv(filepath,index=None)
s

0           Time Warner
1                    US
2            TimeWarner
4           Warner Bros
5                   AOL
              ...
39063              TV I
39064          PC Bangs
39065    Internet Cafes
39070       Most MMORPG
39072               LOL
Length: 13811, dtype: object

### Task 3

In [31]:
filename = './data/spamlord.zip'
zip = zipfile.ZipFile(filename, 'r')
files = zip.namelist()

In [91]:
email = r'([\w\_\-\.]+@(?:\w{2,}\.)+\w{2,})'
phone = r'((?:\d{3}\-){2}\d{4})'

In [92]:
res = {'item': [], 'type': []}

In [93]:
for i in files:
    s = str(zip.read(i))
    emails = re.findall(email,s)
    for j in emails:
        if j not in res['item']:
            res['item'].append(j)
            res['type'].append('email')
    phones = re.findall(phone,s)
    for j in phones:
        if j not in res['item']:
            res['item'].append(j)
            res['type'].append('phone')

In [94]:
df = pd.DataFrame(res, columns=['item', 'type'])
filepath = './result/C_01.csv'
df.to_csv(filepath, index=None)
df

                          item   type
0        tashishg@stanford.edu  email
1           trozm@stanford.edu  email
2         tbalaji@stanford.edu  email
3    tcheriton@cs.stanford.edu  email
4         tuma@cs.stanford.edu  email
..                         ...    ...
123         engler@lcs.mit.edu  email
124       dabo@cs.stanford.edu  email
125   cheriton@cs.stanford.edu  email
126        uma@cs.stanford.EDU  email
127        balaji@stanford.edu  email

[128 rows x 2 columns]